# Server Configuration
PORT=5001
JWT_SECRET=your_jwt_secret_key_here

# Database Configuration
MONGO_URI=mongodb://localhost:27017/smart_quiz

# SMTP Email Configuration (For Password Reset)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=studentservices988@gmail.com
SMTP_PASS=qyrqsugdqhgjuniy
SMTP_FROM="Smart Quiz Admin" <studentservices988@gmail.com>
